// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-nero: #222222;

$color-yellow: #f8f200;

// Typography

$ff-roboto: "Roboto", "Arial", sans-serif;
$ff-archangelsk: "Archangelsk";

// Viewport

$vp-tablet: 1439px;
$vp-mobile: 767px;

$resolution: 2dppx;
