.header {
  padding: 20px 0;
  margin-bottom: 537px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo-icon {
    width: 296px;
    height: 74px;
  }
  &__social-list {
    display: flex;
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
  &__social-icon {
    width: 30px;
    height: 30px;
  }
}
